#left-panel {
  width: 350px;
  float: left;
  height: 100%;
}

#left-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#left-panel ul li {
  padding: 5px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


th, td {
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

#main-content {
  margin-left: 350px; /* Adjust this margin to make space for the left panel */
  padding: 20px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 