#left-panel {
  width: 250px;
  background-color: grey;
  float: left;
}

#left-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#left-panel ul li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

#top-nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 