#left-panel {
  width: 200px;
  background-color: #f0f0f0;
  float: left;
}

#left-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#left-panel ul li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 